<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/research">Research</a></li>
	    		</ul>
			</nav>
			<div class="container-fluid">
				<div class="row-fluid content-row">
			
			{{ content }}
				</div>
				<div class="footer-spacer"></div>
				<div class="row-fluid footer-row navbar">
					<div class="navbar-inner>
			
	    		<ul>
	        		<li><a href="mailto:ylfung@princeton.edu">email</a></li>
				<li><a href="https://twitter.com/rachelylfung">twitter</a></li>
				</ul>
		</body>
	</html>
